<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link href="/static/css/site.css" type="text/css" rel="stylesheet">
  <link href='/static/images/favicon.png' type='image/x-icon' rel='shortcut icon'/>
</head>

<body>
  <div class="container">
    {{> header }}
    <main>
      {{{body}}}
    </main>
  </div>
  {{> footer}}
</body>

</html>